:root {
    --main-font: 'Jersey 10', sans-serif;
    --dark-blue: rgb(72, 61, 139);
    --steel-blue: rgb(70, 130, 180);
    --black: rgb(0, 0, 0);
    --white: rgb(248, 248, 255);
    --white-faint: rgb(248, 248, 255, 0.5);
    --gray: rgb(105, 105, 105);
    --gray-faint: rgb(105, 105, 105, 0.4);

}

/* MAIN PAGE */

body {
    font-family: var(--main-font);
    letter-spacing: 2px;
    line-height: 2rem;
    font-size: large;
    background-image: linear-gradient(to bottom right, var(--dark-blue), var(--gray), var(--steel-blue));
}

ul {
    list-style-type: none;
}

a {
    font-size: x-large;
    text-decoration: none;
    color: var(--dark-blue);
}

a:focus {
    color: var(--steel-blue);
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0px;
    padding-bottom: 2rem;
}

h1 {
    font-size: 60px;
}

header h2 {
    font-size: 35px;
}

header h1, header h2 {
    color: var(--white);
    -webkit-text-stroke: 0.5px var(--black);
}

header h2 {
    margin-bottom: 0px;
}

h2 {
    font-size: 30px;
}

main {
    margin: 20px;
    padding: 25px;
    border: 4px inset var(--black);
    border-radius: 25px;
    corner-shape: bevel;
}

#about-me {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: var(--white-faint);
    border-radius: 35px;
    corner-shape: bevel;
}

#about-me p {
    text-align: center;
    padding: 20px;
}

#skills {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--white-faint);
    border-radius: 35px;
    corner-shape: bevel;
}

#skills-pulp {
    display: flex;
    justify-content: space-evenly;
}

#adobe-skills {
    display: flex;
    width: 100px;
    flex-direction: column;
    justify-content: space-around;
    background-color: var(--gray-faint);
    border-radius: 10px;
    corner-shape: bevel;
}

#stack-skills {
    display: flex;
    width: 100px;
    flex-direction: column;
    justify-content: space-around;
    background-color: var(--gray-faint);
    border-radius: 10px;
    corner-shape: bevel;
}
#skills ul {
    display: flex;
    justify-content: space-evenly;
}

#skills li {
    background-color: var(--white-faint);
    padding: 7px;
    width: max-content;
    border-style: inset;
    border-radius: 10px;
    corner-shape: bevel;

}

#bottom {
    margin-top: 20px;
    display: flex;
    justify-content: space-evenly;
    background-color: var(--white-faint);
    border-radius: 35px;
    corner-shape: bevel;
}

#external-links, #contact {
    display: flex;
    flex-direction: column;
}

footer {
    font-size: large;
    color: var(--white);
    -webkit-text-stroke: 0.9px var(--black);
    text-align: center;
}

/* LINKED PAGES */

.ref-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.ref-page h2 {
    color: var(--white);
    font-size: 40px;
    -webkit-text-stroke: 0.5px var(--black);
}

.ref-body {
    display: flex;
    flex-direction: column;
    padding: 50px;
    justify-content: space-around;
    gap: 10px;
    align-items: center;
    margin: 20px;
    background-color: var(--white-faint);
    border-radius: 35px;
    corner-shape: bevel;
}

.return a {
    color: var(--white);
    -webkit-text-stroke: 1px var(--black);
    text-decoration: underline overline wavy var(--dark-blue);
}